<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fab fa-facebook-square icon"></i>
            <i class="fab fa-instagram-square icon"></i>
            <i class="fab fa-linkedin icon"></i>
        </div>
        <div class="f-info-brand">&copy; Jobstack Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>